
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,400;1,700&display=swap');
:root {
  --text: #f2f2f2;
  --background-color: #1B1626;
  --main-color: #E02E0B;
  --hover-color: #004E67;
  --background-plots: #f2f2f2;
  --text-axis-y: #8C93A8;
  --font-chart: 'IBM Plex Sans', Consolas, sans-serif;
  --font-title: 'IBM Plex Serif', "Source Serif Pro", "Apple Garamond", "Palatino Linotype", Times, serif;
  --interactivity: #86DED8;
}

body {
    font-size: 16px;
    padding: 1.5em 6.5em;
    background-color: var(--background-color);
    color: var(--text);
    font-family: var(--font-chart);
}

h1 {
    font-family: var(--font-title);
    font-size: 2.9em;
    font-weight: 400;
    max-width: 50rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5em;
    max-width: 50rem;
    font-weight: 600;
    margin-top: 1rem;
    color: var(--text-axis-y);
}

h3 {
    font-family: var(--font-title);
    max-width: 50rem;
    font-size: 1.75em;
    font-weight: 400;
    margin-bottom: 1rem;
}

h3 span {
    font-weight: 700;
}

p {
    max-width: 50rem;
    line-height: 1.4em;
}

a {
    color: var(--interactivity);
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: underline;
}

.hide {
    display: none;
}

/* #observablehq-chart_1-bd757394 {
    width: 100%
} */

@media (max-width: 800px) {
    /* #observablehq-chart_1-bd757394 {
        height: 600px !important;
    } */

    body {
        padding: 1em;
    }

    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1.3em;
    }

    .legend {
        flex-direction: column;
    }
}

.legend {
    display: flex;
    width: 100%;
}

.legend p {
    color: var(--text-axis-y);
    margin-right: 2em;
    margin-top: 0;
    margin-bottom: 0.5em
}

.male {
    color: #996CF8;
}

.female {
    color: #FD7A4E;
}

.mixed {
    color: #D4E9DF;
}

.num {
    font-weight: 600;
}

form label {
    color: var(--text-axis-y);
}

form input,
form div label, 
.oi-ec050e-toggle label {
    color: var(--interactivity);
    accent-color: var(--interactivity);
}

form label:hover, form label:focus {
    text-decoration: underline;
}

.oi-ec050e-checkbox>label:hover {
    text-decoration: none;
}

footer {
    padding-top: 3em;
}

